* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 13.34px Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a {
  text-decoration: none;
  color: #00a; }
a:hover { text-decoration: underline; }
a:visited { color: #a0a; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container { margin: 0 15px; }

.site {
  font-size: 115%;
  text-align: justify;
  width: 640px;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.greeting {
  min-height: 90px;
  font-size: 150%;
}

.greeting-image {
  float: left;
  border-radius: 60px;
  width: 90px;
  height: 90px;
  margin-right: 20px;
  display: block;
}

.greeting-tagline {
  padding-top: 15px;
}

.light-gray-text {
  color: #aaa;
}

.about-me {
  margin: 30px 0;
}

@media only screen and (max-width : 639px) {
  .site { width: 100%; }
}

@media only screen and (max-width : 480px) {
  .greeting-tagline {
    font-size: 80%;
    padding-top: 8px;
  }
  .greeting-image {
    width: 70px;
    height: 70px;
  }
}

