* {
  margin: 0;
  padding: 0;
}

/*
 *  Remove text-shadow in selection highlight: h5bp.com/i
 *  These selection rule sets have to be separate.
 *  Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
  vertical-align: middle;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

html, body { height: 100%; }

body {
  12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 0 0 20px; }

a {
  text-decoration: none;
  color: #333; }
a:hover { text-decoration: underline; }
a:visited { color: #333; }


.hero-width {
  width: 460px;
  margin: 0 auto;
  padding: 0 10px;
}

.content-width {
  width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

/*text.css*/

.text-header-light {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 0;
  color: #444;
  font-family: 'Roboto Slab', serif;
}

.text-sub-header-light {
  font-size: 18px;
  font-weight: 200;
  color: #bbb;
  font-family: 'Roboto Slab', serif;
}

/*header.css*/
#site-header {
  border-bottom: 1px solid transparent;
  text-align: center;
  padding: 100px 0 0;
}

.post #header {
  /*padding-top: 20px;*/
}
.post #header h1,
.post #header h2 {
  cursor: pointer;
}

.avatar-image {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: #aaa;
  -webkit-transform-origin-y: 100px;
}

.about-me {
  margin: 20px 0 0;
  text-align: center;
  overflow: hidden;
}

.p-content {
  color: #777;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
}

.elsewhere-links {
  text-align: center;
}

.elsewhere-link {
  color: #aaa;
  font-size: 14px;
  display: inline-block;
  padding: 2px 4px;
  margin: 4px;
}

.elsewhere-link:visited {
  color: #aaa;
}

@media (max-width: 480px) {

  .hero-width, .content-width {
    width: 100%;
  }

  #header {
    padding-top: 20px;
  }

}

.footer {
  /*padding-bottom: 20px;*/
  overflow: hidden;
}

/*temporary*/
#read {
  padding-top: 20px;
}

.site-content {
  transition: all 0.2s;
}

.hero-focus .site-content {
  opacity: 0.2;
}

.hero-focus #site-header {
  border-color: #ddd;
}

