---
layout: default
title:  Moudy Elkammash
---

<div class="page-home">
  <div class="content-width">

    <div class="list-section domino-2">
      <h3 class="text-heading">
        Projects
      </h3>
      <ul class="list">
        {% for project in site.data.projects %}
          <li>
            <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="list-section domino-3">
      <h3 class="text-heading">
        Thoughts
      </h3>
      <ul class="list">
        {% for post in site.posts %}
        <li>
          <a href='{{ post.url }}'>{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="list-section domino-4">
      <h3 class="text-heading">
        Currently
      </h3>
      <ul class="list">
        {% for a in site.data.about %}
        <li>
          {{ a.text }}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="list-section domino-4">
      <h3 class="text-heading">
        Previously
      </h3>
      <ul class="list">
        {% for e in site.data.experience %}
          <li>
            {{ e.name }} <a href="{{ e.url }}" target="_blank" class="project-url">({{ e.url }})</a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
