@import 'base';
@import 'normalize';
@import 'site_reset';

.sans { @include sans(); }
.serif { font-family: 'Crimson Text', serif; }

body {
  font-size: 14px;
  @extend .serif;
}

a {
  text-decoration: none;
  color: $color-text-link;
  &:hover { text-decoration: underline; }
  &.no-underline:hover { text-decoration: none; }
}

.sans-bold {
  @extend .sans;
  font-weight: 700;
}

.text-heading {
  @extend .sans-bold;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
}

.content-width {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

@import 'header';
@import 'footer';
@import 'text';


.header-section {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  letter-spacing: -1px;
}

.list {
  font-size: 16px;
  li {
    margin: 2px 0;
  }

  @media screen and (max-width: 600px) {
    letter-spacing: -0.4px;
  }
}

.project-url {
  color: #777;
  font-size: 14px;
}

.list-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-body {
  font-size: 18px;
  line-height: 26px;
  margin: 20px 0 30px;
}

pre {
  background-color: #f5f5f5;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  border-radius: 3px;
  padding: 10px;
}

.js {
  .domino-1,
  .domino-2,
  .domino-3,
  .domino-4,
  .domino-5 {
    opacity: 0;
    transition-duration: 700ms;
    transition-property: opacity;
  }
}



.ready {
  .domino-1,
  .domino-2,
  .domino-3,
  .domino-4,
  .domino-5 {
    opacity: 1;
  }
}

.domino-1 { transition-delay: 50ms; }
.domino-2 { transition-delay: 100ms; }
.domino-3 { transition-delay: 150ms; }
.domino-4 { transition-delay: 200ms; }
.domino-5 { transition-delay: 250ms; }

p code {
  font-size: 12px;
  border: 1px solid #ddd;
  padding: 3px 5px;
  border-radius: 3px;
}

@import 'post';
@import 'syntax';
