@import 'base';
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}

body, input, select, textarea, button {
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
