<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="Author" content="Moudy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="Description" content="Moudy Elkammash, Internet Explorer and Programmer">
    {% css_asset_tag global %}
    - /_assets/css/normalize.css
    - /_assets/css/app.css
    {% endcss_asset_tag %}
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% javascript_asset_tag global %}
    - /_assets/app.js
    {% endjavascript_asset_tag %}
  </body>
</html>
