<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="Author" content="Moudy">
        <meta name="Description" content="Moudy Elkammash, Internet Explorer and Programmer">

        {% css_asset_tag global %}
        - /_assets/normalize.css
        - /_assets/syntax.css
        - /_assets/base.css
        - /_assets/post.css
        {% endcss_asset_tag %}
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
          window.App = {};
        </script>

    </head>
    <body>

        <div class="container">

          <header id="header">
            <div class="content-width">
              <img class="avatar-image" src="/images/profile-pic-2.jpg" alt="Moudy Elkammash" />
              <h1 class="text-header-light">Moudy Elkammash</h1>
              <h2 class="text-sub-header-light">internet explorer & programmer</h2>
            </div>
          </header>

          <div class="content-width">
            {{ content }}
          </div>

          <footer class="footer">
            <div class="content-width elsewhere-links">
              <script TYPE="text/javascript">
                var emailAddr = ('me@' + 'moudy.me');
                document.write('<a class="elsewhere-link" href="mailto:' + emailAddr + '">email</a>');
              </script>
              <a class="elsewhere-link" target="_blank" href="http://github.com/moudy/">github</a>

              <a class="elsewhere-link" target="_blank" href="http://twitter.com/moudy/">twitter</a>
            </div>
          </footer>

        </div> <!-- /container -->

        {% javascript_asset_tag global %}
        - /_assets/is_touch.js
        - /_assets/underscore.js
        - /_assets/jquery.js
        - /_assets/backbone.js
        - /_assets/backbone.uihelper.js
        - /_assets/header_view.js
        - /_assets/app.js
        {% endjavascript_asset_tag %}

    </body>
</html>
