<footer class='footer domino-5'>
  <div class='content-width'>
    <div class='footer-links'>
      <script>
        var emailAddr = ('me@' + 'moudy.me');
        document.write('<a class="footer-link" href="mailto:'+emailAddr+'">Email</a>');
      </script>
      <a class='footer-link' target='_blank' href='http://github.com/moudy/'>GitHub</a>
      <a class='footer-link' target='_blank' href='http://twitter.com/moudy/'>Twitter</a>
    </div>
  </div>
</footer>
