<header class="hero-header">
  <div class='content-width'>
    <img class="avatar-image" src="/images/profile-pic-2.jpg" alt="Moudy Elkammash" />
    <h1>Moudy Elkammash</h1>
    <h2>internet explorer & programmer</h2>

    <p class="p-content">
      I'm a programmer living and working in New York City. I mostly work with JavaScript, Ruby, and Objective-C.
    </p>
    <p class="p-content">
      When I'm not writing code <a href="http://photo.moudy.me" target="_blank">I like to take pictures</a>.
    </p>

    <div class="elsewhere-links">
      <script TYPE="text/javascript">
  var emailAddr = ('me@' + 'moudy.me');
  document.write('<a class="elsewhere-link" href="mailto:' + emailAddr + '">email</a>');
      </script>
      <a class="elsewhere-link" target="_blank" href="http://github.com/moudy/">github</a>

      <a class="elsewhere-link" target="_blank" href="http://twitter.com/moudy/">twitter</a>
    </div>
  </div>
</header>
