<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        {% css_asset_tag global %}
        - /_assets/normalize.css
        - /_assets/syntax.css
        - /_assets/base.css
        - /_assets/post.css
        {% endcss_asset_tag %}

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Moudy Elkammash<br />
                  Software Engineer, Internet Explorer<br />
                  <script TYPE="text/javascript">
                    var emailAddr = ('me@' + 'moudy.me');
                    document.write('<a href="mailto:' + emailAddr + '">' + emailAddr + '</a>');
                  </script>
                  </br>
                  <a href="http://github.com/moudy/">github.com/moudy</a><br />
                  <a href="http://twitter.com/moudy/">twitter.com/moudy</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
